.ba-contact{
  padding-top: 100px;
  &-socials{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      display: inline-block;

      a{
        margin-right: 15px;
      }
    }
  }
  &-textarea{
    resize: none;
  }
  &__link{
    &:hover{
      text-decoration: none;
    }
    &--mail{
      font-weight: 700;
    }
  }
}

.ba-map{
  height: 300px;
  @include breakpoint(sm){
    height: 500px;
  }
  @include breakpoint(md){
    height: 841px;
  }
}
