<article class="ba-post">
    <a href="single-post.html" class="ba-post__img">
      <img src="./assets/img/news/article-image.jpg" alt="THE BIG LEAGUES OUR TURN STRAIGHTNIN">
    </a>
    <div class="ba-post__meta">
      <time class="ba-post__date bg-primary" datetime="2015-10-13">October 13, 2015</time>
      <span class="ba-post__comments">
        <i class="ion-chatbox-working"></i>
        8
      </span>
      <span class="ba-post__likes">
          <i class="ion-ios-heart text-danger"></i>
          15
      </span>
    </div>
    <!-- /.ba-post__meta -->
    <h2 class="ba-post__title">
      <a href="single-post.html" >
          THE BIG LEAGUES OUR TURN STRAIGHTNIN
      </a>
    </h2>
    <div class="ba-post__excerpt">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <!-- /.ba-post__excerpt -->
    <a href="single-post.html" class="ba-post__more">
        Continue reading
        <i class="ion-arrow-right-c"></i>
    </a>
  </article>
  <!-- /.ba-post -->